@media screen and (max-width: 1000px) {
	.content { 
		padding: 0 1em;
	}

	.EZcareers-header {

		nav {
			> ul {
				width: 100%;
				display: none;

				&.active {
					height: auto;
				}
				

				li {
					float: none;
					text-align: center;
					background: #4A4A4A;
					margin: 0;

					:hover {
						background: #999;
					}

					a {
						display: block;
						padding: 10px;
					}
				}
			}
			.mobile-nav-btn {
				display: inline-block;
			}
		}
	}

	.wrapper {

		.head-banner {
			height: 55vh;
			font-size: 75%;

			.top-title {
				width: 100%;

				.text {
					font-size: 5em;

				}

				h2 {
					font-size: 3em;
				}
			}
		}


	}
	
}

@media screen and (max-width: 480px) {
	.EZcareers-header {
		padding: 15px 0 0;

		&.sticky {
			padding: 0;
		}
		.EZcareers-logo {
			margin: 10px 0;
			a.EZlogo {
				width: 90px;
				height: 35px;
				background-size: contain;
			}
			h1 {
				font-size: 1.2em;
				margin: 10px 0 0 10px;
				padding-left: 10px; 
			}
		}

		nav {
			> ul {
				margin-top: 5px;
			}
		}
	}

	.wrapper {
		.head-banner {

		}
		main {

			#section-01,#section-02 { 
				h2 {
					margin-bottom: 15px;
				}
			}
			#section-02 {
				margin: 0 -1em;
				
				ul.jobs-list {
					> li {
						padding: 10px;
						overflow: hidden;

						i:before {
							font-size: 1.5em;
							top:9px;
						}

						> h3 {
							font-size: 1.2em;
							width: 90%;
							line-height: 1.5em;
						}

						p {
							padding: 0;
						}

					}

				}
			}
		}
	}

}

@media screen and (min-width: 1001px) {
	.EZcareers-header {
		nav {
			> ul {
				display: block !important;
			}
		}
	}
}

