@media screen and (max-width: 1024px) {
	.content { 
		padding: 0 1em;
	}

	.EZcareers-header {

		nav {
			> ul {
				display: none;
			}
			.mobile-nav-btn {
				display: inline-block;
			}
		}
	}

	.wrapper {

		.head-banner {
			height: 30vh;

			.top-title {
				width: 100%;

				.text {
					font-size: 4.5em;

				}
			}
		}
	}
	
}